{% extends 'base.html' %}

{% block title %}
    Nueva contraseña
{% endblock %}

{% block content %}
    <h1>Crear nueva contraseña</h1>
    <div class="container">
    <form action="/new-pass" method="POST">

        {{form.hidden_tag()}}

    <div class="mb-3">
        {{ form.service.label(class="form-label") }}
        {{ form.service(class="form-control") }}
    </div>    
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.link.label(class="form-label") }}
        {{ form.link(class="form-control") }}
    </div>
    
        {{form.submit(class="btn btn-primary")}}
    </form>
    </div>
{% endblock %}