{% extends 'base.html' %}

{% block title %}
    Crear cuenta
{% endblock %}

{% block head_extra %}
     <link rel="stylesheet" href="{{ url_for('static', filename='CSS/signup.css') }}">
{% endblock %}

{% block content %}
    <h1 class="text-center" style="color:#FFF;"> Por favor crea tu cuenta </h1>
    <div class="container">
    <form action="/signup" method="POST">
        {{form.hidden_tag()}}

    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        {{ form.master_key.label(class="form-label") }}
        {{ form.master_key(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
        {{form.submit(class="btn btn-primary")}}
    </form>
    </div>

{% endblock%}